@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

@theme {
  --my-grid-cols: repeat(auto-fit, minmax(200px, 1fr));
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001f;
  --font-outfit: sans-serif;
  --font-ovo: serif;
  --shadow-black: 5px 5px 0 #000;
  --shadow-white: 5px 5px 0 #fff;
}
